In [3]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hello world\anaconda3\lib\site-packages (4.4.3)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hello world\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\hello world\anaconda3\lib\site-packages (from selenium) (0.21.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hello world\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hello world\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sniffio in c:\users\hello world\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hello world\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\hello world\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hello world\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\hello world\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hello world\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hello world\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\hello world\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hello world\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hello world\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hello world\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

1) Scrap first 10 details of the Job Data Analyst in Bangalore location from naukri.com

In [9]:
# Lets first connect to the webdriver

driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [10]:
driver.get("https://www.naukri.com/")

In [11]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input ")
designation.send_keys('Data Analyst')

In [12]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [13]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [20]:
# We need to scrap

job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [21]:
# scraping job title from the website
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
# scraping company name from the website
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

# Scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)
    

# scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

In [22]:
print(len('job_title'),len('company_name'),len('experience_required'),len('job_location'))

9 12 19 12

NOTE: DataFrame is printed correctly even though length of the datas are shown wrongly in the output of len function in all answers.

In [23]:
df=pd.DataFrame({'Job_title':job_title,'Company_name':company_name,'Experience_required':experience_required,'Job_location':job_location})
df

,Job_title,Company_name,Experience_required,Job_location
0,Data Analyst - CRM Platform,Artech infosystem,1-6 Yrs,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde..."
1,Senior Data Analyst,TEKsystems,7-10 Yrs,Bangalore/Bengaluru
2,Senior Data Analyst,Goalreify Ventures,3-6 Yrs,Bangalore/Bengaluru
3,Senior Data Analyst,Goalreify Ventures,4-6 Yrs,Bangalore/Bengaluru
4,Senior Data Analyst | Fortune500 Retail Company,Talent500,3-8 Yrs,Bangalore/Bengaluru
5,Senior Data Analyst | Fortune500 Retail Company,Talent500,3-5 Yrs,Bangalore/Bengaluru
6,Senior Data Analyst,nurture.farm,3-8 Yrs,Bangalore/Bengaluru
7,Senior Data Analyst,Walmart,6-10 Yrs,Bangalore/Bengaluru
8,Senior Data Management Analyst,Wells Fargo,4-7 Yrs,Bangalore/Bengaluru
9,Senior Lead Data Management Analyst,Wells Fargo,7-10 Yrs,"Bangalore/Bengaluru, Hyderabad/Secunderabad"

2) Scrap first 10 details of Data Scientist in Bangalore location naukri website.

In [56]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [57]:
driver.get("https://www.naukri.com/")

In [58]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')

In [59]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [60]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [84]:
# We need to scrap

job_title1=[]
job_location1=[]
company_name1=[]

In [85]:
# scraping job title from the website
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title1=i.text
    job_title1.append(title1)
    
# scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for j in location_tags[0:10]:
    location1=j.text
    job_location1.append(location1)
    
# scraping company name from the website
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for k in company_tags[0:10]:
    company1=k.text
    company_name1.append(company1)

In [86]:
print(len('job_title1'),len('job_location1'),len('company_name1'))

10 13 13

In [87]:
df=pd.DataFrame({'Job_title':job_title1,'Job_location':job_location1,'Company_name':company_name1})
df

,Job_title,Job_location,Company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Science Manager,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,"Mongodb Database Administrator, Maria DB or Ca...","Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Mphasis
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Senior Data Scientist,"Bangalore/Bengaluru, Mumbai, New Delhi, Chennai",Boston Consulting Group
5,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
6,Data Scientist,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Tech Mahindra
7,Opportunity For Senior Data Scientist/ Busines...,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",PayU
8,Exciting opportunity For model monitoring/mode...,"Bangalore/Bengaluru, New Delhi, Gurgaon/Gurugr...",EXL
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM

3) Scraping data by applying filters for location and salary for a given webpage.

In [94]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [95]:
driver.get("https://www.naukri.com/")

In [96]:
designation=driver.find_element(By.CLASS_NAME, "suggestor-input")
designation.send_keys('Data Scientist')

In [97]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [98]:
# We need to scrap

job_title2=[]
job_location2=[]
company_name2=[]
experience_required2=[]

In [99]:
# scraping job title from the website
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title2.append(title)

# scraping Job location from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for j in location_tags[0:10]:
    location=j.text
    job_location2.append(location)

# scraping company name from the website
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for k in company_tags[0:10]:
    company=k.text
    company_name2.append(company)

# Scraping Job experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for l in experience_tags[0:10]:
    exp=l.text
    experience_required2.append(exp)

In [100]:
print(len('job_title2'),len('job_location2'),len('company_name2'),len('experience_required2'))

10 13 13 20

In [101]:
df=pd.DataFrame({'Job_title':job_title2,'Job_location':job_location2,'Company_name':company_name2,'Experience_required':experience_required2})
df

,Job_title,Job_location,Company_name,Experience_required
0,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,8-10 Yrs
1,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
2,Data Scientist,Gurgaon/Gurugram,IHS Markit,3-6 Yrs
3,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,7-10 Yrs
4,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
5,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Activation Specialist - Adobe Target,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Okda Solutions,7-10 Yrs
8,Data Scientist,Noida,NGI Ventures,0-5 Yrs
9,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs

4) Scraping datas of first 100 sunglasses listings on flipkart.com

In [313]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [314]:
driver.get("https://www.flipkart.com/")

In [315]:
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Product.send_keys('Sunglasses')

In [316]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
Search.click()

In [317]:
# we need to scrap
product_name=[]
Product_Description=[]
Price=[]

In [319]:
product_name=[]

for page in range(0,3):
    name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        product_name.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [320]:
len(product_name)

120

In [321]:
product_name

['FOSSIL',
 'FOSSIL',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'NuVew',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'FOSSIL',
 'Bedst',
 'SHAAH COLLECTIONS',
 'SHAAH COLLECTIONS',
 'OAKLEY',
 'MODE',
 'NuVew',
 'SHAAH COLLECTIONS',
 'OAKLEY',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'RED MONK',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'OAKLEY',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'CARRERA',
 'PIRASO',
 'Fastrack',
 'Mi',
 'OAKLEY',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'OAKLEY',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs',
 'CARRERA',
 'LIZA ANGEL',
 'ROYAL SON',
 'Sewell',
 'FOSSIL',
 'Fastrack',
 'IDEE',
 'DEIXELS',
 'FOSSIL',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'FOSSIL',
 'Fastrack',
 'LIZA ANGEL',
 'Fastrack',
 'OAKLEY',
 'shah collections',
 'Fastrack',
 'Fastrack',
 'OAKLEY',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'SRPM',
 'POLAROID',
 'IDEE',
 'NuVew',
 'NuVew',
 'POLAROID',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'Fastrack',
 'ROYAL SON',
 'ALIXERO',
 'FOSSIL',
 'GANSTA',
 'IDEE',
 'ROYAL SON',
 'AISLIN',
 'FOSSIL',
 'FOSSIL',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'NuVew',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'OAKLEY',
 'Bedst',
 'SHAAH COLLECTIONS',
 'SHAAH COLLECTIONS',
 'RED MONK',
 'MODE',
 'NuVew',
 'SHAAH COLLECTIONS',
 'OAKLEY',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'CARRERA',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'CARRERA',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'OAKLEY',
 'PIRASO',
 'Fastrack',
 'Mi',
 'OAKLEY',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'CARRERA',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs',
 'POLAROID']

In [328]:
Brand=[]

for i in product_name[0:100]:
    Brand.append(i)

In [329]:
Brand

['FOSSIL',
 'FOSSIL',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'NuVew',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'FOSSIL',
 'Bedst',
 'SHAAH COLLECTIONS',
 'SHAAH COLLECTIONS',
 'OAKLEY',
 'MODE',
 'NuVew',
 'SHAAH COLLECTIONS',
 'OAKLEY',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'RED MONK',
 'PIRASO',
 'Fastrack',
 'SUNBEE',
 'OAKLEY',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'CARRERA',
 'PIRASO',
 'Fastrack',
 'Mi',
 'OAKLEY',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'OAKLEY',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'New Specs',
 'CARRERA',
 'LIZA ANGEL',
 'ROYAL SON',
 'Sewell',
 'FOSSIL',
 'Fastrack',
 'IDEE',
 'DEIXELS',
 'FOSSIL',
 'VINCENT CHASE',
 'SHAAH COLLECTIONS',
 'VINCENT CHASE',
 'FOSSIL',
 'Fastrack',
 'LIZA ANGEL',
 'Fastrack',
 'OAKLEY',
 'shah collections',
 'Fastrack',
 'Fastrack',
 'OAKLEY',
 'ROZZETTA CRAFT',
 'VINCENT CHASE',
 'SRPM',
 'POLAROID',
 'IDEE',
 'NuVew',
 'NuVew',
 'POLAROID',
 'ROYAL SON',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'Fastrack',
 'ROYAL SON',
 'ALIXERO',
 'FOSSIL',
 'GANSTA',
 'IDEE',
 'ROYAL SON',
 'AISLIN',
 'FOSSIL',
 'FOSSIL',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'NuVew',
 'SHAAH COLLECTIONS',
 'Fastrack',
 'OAKLEY',
 'Bedst',
 'SHAAH COLLECTIONS',
 'SHAAH COLLECTIONS',
 'RED MONK',
 'MODE',
 'NuVew',
 'SHAAH COLLECTIONS',
 'OAKLEY',
 'Fastrack',
 'Fastrack',
 'NuVew',
 'CARRERA']

In [330]:
len(Brand)

100

In [331]:
product_Description=[]

for page in range(0,3):
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        product_Description.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [332]:
len(product_Description)

120

In [333]:
product_Description

['Others Aviator Sunglasses (58)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Shield Sunglass',
 'Others Round Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'Rectangular Sunglass',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Retro Square Sunglass',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Others Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Cat-eye Sunglasses (55)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'HOLBROOK Wayfarer Sunglass',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Others Aviator Sunglasses (61)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (51)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Rectangular Sunglass',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Gradient, UV Protection, Mirrored Over-sized...',
 'UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Pitchman R Round Sunglass',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Others Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'Rectangular Sunglass',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (18)',
 'Others Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized Aviator Sunglasses (58)',
 'Others Aviator Sunglasses (58)',
 'Others Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Others Round Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'Rectangular Sunglass',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Retro Square Sunglass',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Cat-eye Sunglasses (55)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Rectangular Sunglasses (58)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'HOLBROOK Wayfarer Sunglass',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'Others Aviator Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...']

In [334]:
Description=[]

for i in product_Description[0:100]:
    Description.append(i)

In [335]:
Description

['Others Aviator Sunglasses (58)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Shield Sunglass',
 'Others Round Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'Rectangular Sunglass',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Retro Square Sunglass',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'Polarized, UV Protection, Gradient, Riding Glasses Rect...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Others Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Cat-eye Sunglasses (55)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Others Rectangular Sunglasses (58)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'HOLBROOK Wayfarer Sunglass',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, Night Vision, UV Protection, Riding Glasses S...',
 'Others Aviator Sunglasses (61)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Others Retro Square Sunglasses (51)',
 'Polarized, UV Protection, Riding Glasses Wayfarer Sungl...',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'Rectangular Sunglass',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Riding Glasses, Night Vision Spectacle Sunglasses (Fre...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized, Gradient, UV Protection, Mirrored Over-sized...',
 'UV Protection Wayfarer Sunglasses (56)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Pitchman R Round Sunglass',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Others Rectangular Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'Rectangular Sunglass',
 'Polarized, UV Protection Wayfarer Sunglasses (61)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Wayfarer Sunglasses (18)',
 'Others Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Polarized Retro Square Sunglasses (53)',
 'UV Protection, Riding Glasses Retro Square Sunglasses (...',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'UV Protection Retro Square Sunglasses (53)',
 'Polarized Aviator Sunglasses (58)',
 'Others Aviator Sunglasses (58)',
 'Others Round Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Mirrored, Night Vision Oval Sunglasses (Free Size)',
 'Others Round Sunglasses (59)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'Rectangular Sunglass',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (57)',
 'UV Protection, Mirrored Wayfarer Sunglasses (54)',
 'UV Protection Rectangular Sunglasses (52)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (57)',
 'Retro Square Sunglass']

In [336]:
len(Description)

100

In [337]:
Price=[]

for page in range(0,3):
    amount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in amount:
        Price.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [338]:
len(Price)

120

In [339]:
Price

['244',
 '200',
 '200',
 '164',
 '809',
 '1,024',
 '599',
 '157',
 '188',
 '599',
 '148',
 '3,994',
 '499',
 '151',
 '529',
 '10,929',
 '79',
 '529',
 '599',
 '7,799',
 '1,149',
 '409',
 '255',
 '227',
 '146',
 '1,024',
 '79',
 '5,139',
 '424',
 '79',
 '1,074',
 '5,049',
 '189',
 '529',
 '271',
 '2,999',
 '223',
 '438',
 '165',
 '5,629',
 '4,449',
 '2,909',
 '399',
 '79',
 '100',
 '79',
 '319',
 '3,089',
 '79',
 '79',
 '79',
 '160',
 '79',
 '74',
 '79',
 '2,279',
 '809',
 '359',
 '79',
 '223',
 '167',
 '375',
 '359',
 '404',
 '214',
 '79',
 '479',
 '598',
 '529',
 '184',
 '359',
 '5,049',
 '424',
 '79',
 '499',
 '507',
 '459',
 '120',
 '461',
 '499',
 '244',
 '200',
 '200',
 '2,899',
 '809',
 '1,024',
 '599',
 '164',
 '188',
 '599',
 '148',
 '2,449',
 '499',
 '151',
 '529',
 '3,994',
 '79',
 '529',
 '599',
 '10,929',
 '1,149',
 '409',
 '255',
 '7,799',
 '146',
 '1,024',
 '79',
 '227',
 '424',
 '79',
 '1,074',
 '5,139',
 '189',
 '529',
 '271',
 '157',
 '223',
 '438',
 '165',
 '2,999']

In [341]:
Amount_of_glasses=[]

for i in Price[0:100]:
    Amount_of_glasses.append(i)

In [342]:
len(Amount_of_glasses)

100

In [343]:
Amount_of_glasses

['244',
 '200',
 '200',
 '164',
 '809',
 '1,024',
 '599',
 '157',
 '188',
 '599',
 '148',
 '3,994',
 '499',
 '151',
 '529',
 '10,929',
 '79',
 '529',
 '599',
 '7,799',
 '1,149',
 '409',
 '255',
 '227',
 '146',
 '1,024',
 '79',
 '5,139',
 '424',
 '79',
 '1,074',
 '5,049',
 '189',
 '529',
 '271',
 '2,999',
 '223',
 '438',
 '165',
 '5,629',
 '4,449',
 '2,909',
 '399',
 '79',
 '100',
 '79',
 '319',
 '3,089',
 '79',
 '79',
 '79',
 '160',
 '79',
 '74',
 '79',
 '2,279',
 '809',
 '359',
 '79',
 '223',
 '167',
 '375',
 '359',
 '404',
 '214',
 '79',
 '479',
 '598',
 '529',
 '184',
 '359',
 '5,049',
 '424',
 '79',
 '499',
 '507',
 '459',
 '120',
 '461',
 '499',
 '244',
 '200',
 '200',
 '2,899',
 '809',
 '1,024',
 '599',
 '164',
 '188',
 '599',
 '148',
 '2,449',
 '499',
 '151',
 '529',
 '3,994',
 '79',
 '529',
 '599',
 '10,929']

In [344]:
df=pd.DataFrame({'Name':Brand,'Description':Description,'Price':Amount_of_glasses})
df

,Name,Description,Price
0,FOSSIL,Others Aviator Sunglasses (58),244
1,FOSSIL,"Mirrored, Night Vision Oval Sunglasses (Free S...",200
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),200
3,SHAAH COLLECTIONS,UV Protection Round Sunglasses (54),164
4,NuVew,UV Protection Aviator Sunglasses (57),809
...,...,...,...
95,OAKLEY,UV Protection Rectangular Sunglasses (52),"3,994"
96,Fastrack,UV Protection Aviator Sunglasses (58),79
97,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),529
98,NuVew,UV Protection Wayfarer Sunglasses (57),599
99,CARRERA,Retro Square Sunglass,"10,929"

In [ ]:
***** 5th is pending*******

5) Scrape 100 reviews data from flipkart.com for iphone 11.

In [23]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [24]:
driver.get("https://www.flipkart.com/apple-iphone-12-black-128-gb/product-reviews/itmf1f0a58f1ecd7?pid=MOBFWBYZK3HACR72&lid=LSTMOBFWBYZK3HACR72PX4KSA&marketplace=FLIPKART")

Note: Because of my query due to facing some issues, SME will provide this link to proceed further.

We need to scrap Rating, Review summary, Full review for first 100 reviews of iphone.

In [27]:
Ratings1=[]

for page in range(0,10):
    r=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in r:
        Ratings1.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [28]:
len(Ratings1)

100

In [29]:
Ratings1

['5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '4',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5',
 '5']

In [44]:
Reviewsummary=[]

for page in range(0,10):
    RS=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in RS:
        Reviewsummary.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [45]:
len(Reviewsummary)

100

In [46]:
Reviewsummary

['Terrific',
 'Perfect product!',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Awesome',
 'Highly recommended',
 'Brilliant',
 'Awesome',
 'Must buy!',
 'Highly recommended',
 'Must buy!',
 'Must buy!',
 'Worth every penny',
 'Brilliant',
 'Just wow!',
 'Terrific',
 'Brilliant',
 'Just wow!',
 'Pretty good',
 'Great product',
 'Terrific',
 'Perfect product!',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Awesome',
 'Highly recommended',
 'Brilliant',
 'Awesome',
 'Must buy!',
 'Highly recommended',
 'Terrific',
 'Perfect product!',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Awesome',
 'Highly recommended',
 'Brilliant',
 'Awesome',
 'Must buy!',
 'Highly recommended',
 'Must buy!',
 'Must buy!',
 'Worth every penny',
 'Brilliant',
 'Just wow!',
 'Terrific',
 'Brilliant',
 'Just wow!',
 'Pretty good',
 'Great product',
 'Terrific',
 'Perfect product!',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Awesome',
 'Highly recommended',
 'Brilliant',
 'Awesome',
 'Must buy!',
 'Highly recommended',
 'Must buy!',
 'Must buy!',
 'Worth every penny',
 'Brilliant',
 'Just wow!',
 'Terrific',
 'Brilliant',
 'Just wow!',
 'Pretty good',
 'Great product',
 'Terrific',
 'Perfect product!',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Awesome',
 'Highly recommended',
 'Brilliant',
 'Awesome',
 'Must buy!',
 'Highly recommended',
 'Terrific',
 'Perfect product!',
 'Terrific purchase',
 'Mind-blowing purchase',
 'Awesome',
 'Highly recommended',
 'Brilliant',
 'Awesome',
 'Must buy!',
 'Highly recommended',
 'Must buy!',
 'Must buy!',
 'Worth every penny',
 'Brilliant',
 'Just wow!',
 'Terrific',
 'Brilliant',
 'Just wow!',
 'Pretty good',
 'Great product']

In [50]:
Fullreview=[]

for page in range(0,100):
    FR=driver.find_elements(By.XPATH,'/html/body/div/div/div[3]/div/div[1]/div[2]/div[3]/div/div/div/div[2]/div/div/div')
    for i in FR:
        Fullreview.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [51]:
len(Fullreview)

100

In [52]:
Fullreview

['Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great',
 'Wow superb camera phone\nVery smooth speed and no lag , iphone is the king always\nIts a beautiful product',
 'I really m glad that i went for i phone in place of all other android devices like the Samsung S series nd one plus .\nAlso , m amazed by the battery life in this i phone . Single charge and its last for a day easily ..\nEven the gaming experience was great']

In [53]:
df=pd.DataFrame({'Ratings':Ratings1,'Review summary':Reviewsummary,'Full review':Fullreview})
df

,Ratings,Review summary,Full review
0,5,Terrific,Wow superb camera phone\nVery smooth speed and...
1,5,Perfect product!,I really m glad that i went for i phone in pla...
2,5,Terrific purchase,Wow superb camera phone\nVery smooth speed and...
3,5,Mind-blowing purchase,I really m glad that i went for i phone in pla...
4,5,Awesome,Wow superb camera phone\nVery smooth speed and...
...,...,...,...
95,5,Terrific,I really m glad that i went for i phone in pla...
96,5,Brilliant,Wow superb camera phone\nVery smooth speed and...
97,5,Just wow!,I really m glad that i went for i phone in pla...
98,5,Pretty good,Wow superb camera phone\nVery smooth speed and...
99,5,Great product,I really m glad that i went for i phone in pla...

6) Scraping first 100 datas of sneakers from flipkart.com

In [347]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [348]:
driver.get("https://www.flipkart.com/")

In [349]:
Product=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
Product.send_keys('sneakers')

In [350]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
Search.click()

In [352]:
Brand_name1=[]

for page in range(0,3):
    name=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in name:
        Brand_name1.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [353]:
len(Brand_name1)

120

In [354]:
Brand_name1

['WHITE WALKERS',
 'RED TAPE',
 'K- FOOTLANCE',
 'asian',
 'BRUTON',
 'Sparx',
 'PUMA',
 'asics',
 'Shozie',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Layasa',
 'WOODLAND',
 'Brainer',
 'asics',
 'aadi',
 'Airland',
 'RapidBox',
 'asics',
 'RED TAPE',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Kzaara',
 'luxury fashion',
 'Shozie',
 'NIKE',
 'D-SNEAKERZ',
 'PUMA',
 'K- FOOTLANCE',
 'BIRDE',
 'HIGHLANDER',
 'BIRDE',
 'HIGHLANDER',
 'GNOCCHI',
 "Neeman's",
 'World Wear Footwear',
 'Chevit',
 'NIKE',
 'BIRDE',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'Labbin',
 'World Wear Footwear',
 'World Wear Footwear',
 'Mozafia',
 'TR',
 'Magnolia',
 'Kraasa',
 'believe',
 'Magnolia',
 'BRUTON',
 'BRUTON',
 'Dicy',
 "K' Footlance",
 'PUMA',
 'RED TAPE',
 'DUCATI',
 'World Wear Footwear',
 'Robbie jones',
 'Shozie',
 'Dicy',
 'Rzisbo',
 'BRUTON',
 'SCATCHITE',
 "'Trends'",
 'aadi',
 'Magnolia',
 'tigonis',
 'EZDEZARIO',
 'Elevarse',
 'BRUTON',
 'Deals4you',
 'Mast & Harbour',
 'ASTEROID',
 'aadi',
 'aadi',
 'Bata',
 'WHITE WALKERS',
 'RED TAPE',
 'K- FOOTLANCE',
 'asian',
 'BRUTON',
 'Sparx',
 'PUMA',
 'asics',
 'Shozie',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Layasa',
 'WOODLAND',
 'Brainer',
 'asics',
 'aadi',
 'Airland',
 'RapidBox',
 'asics',
 'RED TAPE',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Kzaara',
 'luxury fashion',
 'Shozie',
 'NIKE',
 'D-SNEAKERZ',
 'PUMA',
 'K- FOOTLANCE',
 'BIRDE',
 'HIGHLANDER',
 'BIRDE',
 'HIGHLANDER',
 'GNOCCHI',
 "Neeman's",
 'World Wear Footwear',
 'Chevit',
 'NIKE']

In [358]:
Product_NAME=[]

for i in Brand_name1[0:100]:
    Product_NAME.append(i)

In [359]:
len(Product_NAME)

100

In [360]:
Product_NAME

['WHITE WALKERS',
 'RED TAPE',
 'K- FOOTLANCE',
 'asian',
 'BRUTON',
 'Sparx',
 'PUMA',
 'asics',
 'Shozie',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Layasa',
 'WOODLAND',
 'Brainer',
 'asics',
 'aadi',
 'Airland',
 'RapidBox',
 'asics',
 'RED TAPE',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Kzaara',
 'luxury fashion',
 'Shozie',
 'NIKE',
 'D-SNEAKERZ',
 'PUMA',
 'K- FOOTLANCE',
 'BIRDE',
 'HIGHLANDER',
 'BIRDE',
 'HIGHLANDER',
 'GNOCCHI',
 "Neeman's",
 'World Wear Footwear',
 'Chevit',
 'NIKE',
 'BIRDE',
 'BRUTON',
 'BRUTON',
 'World Wear Footwear',
 'Labbin',
 'World Wear Footwear',
 'World Wear Footwear',
 'Mozafia',
 'TR',
 'Magnolia',
 'Kraasa',
 'believe',
 'Magnolia',
 'BRUTON',
 'BRUTON',
 'Dicy',
 "K' Footlance",
 'PUMA',
 'RED TAPE',
 'DUCATI',
 'World Wear Footwear',
 'Robbie jones',
 'Shozie',
 'Dicy',
 'Rzisbo',
 'BRUTON',
 'SCATCHITE',
 "'Trends'",
 'aadi',
 'Magnolia',
 'tigonis',
 'EZDEZARIO',
 'Elevarse',
 'BRUTON',
 'Deals4you',
 'Mast & Harbour',
 'ASTEROID',
 'aadi',
 'aadi',
 'Bata',
 'WHITE WALKERS',
 'RED TAPE',
 'K- FOOTLANCE',
 'asian',
 'BRUTON',
 'Sparx',
 'PUMA',
 'asics',
 'Shozie',
 'BRUTON',
 'World Wear Footwear',
 'BRUTON',
 'Layasa',
 'WOODLAND',
 'Brainer',
 'asics',
 'aadi',
 'Airland',
 'RapidBox',
 'asics']

In [361]:
Product_Descs1=[]

for page in range(0,3):
    Desc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in Desc_tag:
        Product_Descs1.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [362]:
len(Product_Descs1)

115

In [363]:
Product_Descs1

['Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Latest Collection-1215 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
 'Canvas Casuals Shoes Sneakers For Women',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Electron E Pro Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Comfortable Casual wear Lace-Up Shoes Sneak...',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'TELLER SNEAKER Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Newton-01 Men's Lightweight Running Shoes Sneakers For ...",
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'RS-FAST GO FOR Sneakers For Men',
 'LYTECOURT Sneakers For Men',
 'Synthetic Leather Casual Sneaker shoes for Mens Sneaker...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Latest Collection-1138 Stylish Casual Sports Sneakers F...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'AMPLICA Sneakers For Men',
 'Sneakers For Men',
 '350 smart grey lace-ups casual for men Sneakers For Men',
 'Sneakers For Men',
 'PRIME JOGGER LS Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 "NK Court Royale AC Canvas Women's Shoes Sneakers For Wo...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Skye Clean Sneakers For Women',
 'Sneakers For Men',
 'Premium Casual Shoes White Sneakers For Men',
 'Sneakers For Men',
 'Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Ebernon Low Sneakers For Men',
 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Latest Collection-1215 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
 'Canvas Casuals Shoes Sneakers For Women',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers for men(black_7) Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Electron E Pro Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Comfortable Casual wear Lace-Up Shoes Sneak...',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'TELLER SNEAKER Sneakers For Men']

In [364]:
D=[]

for i in Product_Descs1[0:100]:
    D.append(i)

In [365]:
len(D)

100

In [366]:
D

['Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Latest Collection-1215 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
 'Canvas Casuals Shoes Sneakers For Women',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Electron E Pro Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Comfortable Casual wear Lace-Up Shoes Sneak...',
 'Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Tigonis Casuals For Men Sneakers For Men (White) Sneake...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneaker Sneakers For Men',
 'Sneakers For Women',
 'Sneakers For Men',
 "Original Luxury Branded Fashionable Men's Casual Walkin...",
 'Sneakers For Men',
 'Mesh | Ultralightweight | Comfortable | Breathable Walk...',
 'TELLER SNEAKER Sneakers For Men',
 'Stylish & Trending Outdoor Walking Comfortable Sneakers...',
 'Sneakers For Men',
 'Sneakers For Men',
 "Newton-01 Men's Lightweight Running Shoes Sneakers For ...",
 'Exclusive Sneaker Shoes Sneakers For Men',
 'Men White Sneakers Sneakers For Men',
 'RS-FAST GO FOR Sneakers For Men',
 'LYTECOURT Sneakers For Men',
 'Synthetic Leather Casual Sneaker shoes for Mens Sneaker...',
 '2 Combo Sneaker Shoes Sneakers For Men',
 'Latest Collection-1138 Stylish Casual Sports Sneakers F...',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneakers For Women',
 'Sneakers For Men',
 'Sneakers For Men',
 'AMPLICA Sneakers For Men',
 'Sneakers For Men',
 '350 smart grey lace-ups casual for men Sneakers For Men',
 'Sneakers For Men',
 'PRIME JOGGER LS Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Latest Exclusive Affordable Collection of Trendy & Styl...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Sneakers For Men',
 'luxury fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 "NK Court Royale AC Canvas Women's Shoes Sneakers For Wo...",
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Skye Clean Sneakers For Women',
 'Sneakers For Men',
 'Premium Casual Shoes White Sneakers For Men',
 'Sneakers For Men',
 'Shoes Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Latest Collection-1227 Stylish Casual Sports Sneakers F...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Ebernon Low Sneakers For Men',
 'Premium White Casual Shoes Sneakers For Men Sneakers Fo...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men',
 'Latest Collection-1215 Stylish Casual Sports Sneakers F...',
 'Sneakers For Men',
 'Latest Collection-1216 Stylish Casual Sports Sneakers F...',
 'Latest Collection Black-349 Trendy & Stylish Casual Sne...',
 'Canvas Casuals Shoes Sneakers For Women',
 'Sneakers For Men',
 'Casuals, Canvas, Partywear Sneakers For Men',
 'Sneakers for men(black_7) Sneakers For Men',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'Fashion and Stylish Soft Ultralight Lace Up Sneakers Ca...',
 'Electron E Pro Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Exclusive Affordable Collection of Trendy & Stylish Cas...',
 'Casual Sneakers Canvas Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Lightweight Comfortable Casual wear Lace-Up Shoes Sneak...']

In [176]:
Rate=[]

for page in range(0,3):
    r_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in r_tag:
        Rate.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [177]:
len(Rate)

120

In [178]:
Rate

['319',
 '319',
 '143',
 '143',
 '239',
 '319',
 '239',
 '1,038',
 '143',
 '179',
 '1,399',
 '239',
 '239',
 '342',
 '195',
 '379',
 '191',
 '399',
 '239',
 '1,049',
 '239',
 '315',
 '329',
 '511',
 '318',
 '288',
 '399',
 '1,414',
 '399',
 '239',
 '223',
 '1,699',
 '159',
 '206',
 '1,749',
 '740',
 '239',
 '239',
 '399',
 '737',
 '143',
 '409',
 '287',
 '998',
 '1,399',
 '939',
 '319',
 '239',
 '1,298',
 '319',
 '260',
 '319',
 '319',
 '216',
 '239',
 '380',
 '399',
 '4,199',
 '583',
 '911',
 '449',
 '135',
 '399',
 '659',
 '393',
 '1,399',
 '260',
 '449',
 '239',
 '143',
 '596',
 '227',
 '239',
 '596',
 '236',
 '315',
 '159',
 '159',
 '159',
 '319',
 '319',
 '319',
 '143',
 '143',
 '239',
 '239',
 '143',
 '319',
 '179',
 '1,399',
 '239',
 '239',
 '342',
 '195',
 '191',
 '379',
 '399',
 '239',
 '239',
 '1,049',
 '315',
 '329',
 '318',
 '511',
 '288',
 '399',
 '399',
 '1,414',
 '239',
 '223',
 '159',
 '1,699',
 '206',
 '1,749',
 '239',
 '740',
 '239',
 '399',
 '143',
 '737']

In [367]:
R=[]

for i in Rate[0:100]:
    R.append(i)

In [368]:
len(R)

100

In [369]:
R

['319',
 '319',
 '143',
 '143',
 '239',
 '319',
 '239',
 '1,038',
 '143',
 '179',
 '1,399',
 '239',
 '239',
 '342',
 '195',
 '379',
 '191',
 '399',
 '239',
 '1,049',
 '239',
 '315',
 '329',
 '511',
 '318',
 '288',
 '399',
 '1,414',
 '399',
 '239',
 '223',
 '1,699',
 '159',
 '206',
 '1,749',
 '740',
 '239',
 '239',
 '399',
 '737',
 '143',
 '409',
 '287',
 '998',
 '1,399',
 '939',
 '319',
 '239',
 '1,298',
 '319',
 '260',
 '319',
 '319',
 '216',
 '239',
 '380',
 '399',
 '4,199',
 '583',
 '911',
 '449',
 '135',
 '399',
 '659',
 '393',
 '1,399',
 '260',
 '449',
 '239',
 '143',
 '596',
 '227',
 '239',
 '596',
 '236',
 '315',
 '159',
 '159',
 '159',
 '319',
 '319',
 '319',
 '143',
 '143',
 '239',
 '239',
 '143',
 '319',
 '179',
 '1,399',
 '239',
 '239',
 '342',
 '195',
 '191',
 '379',
 '399',
 '239',
 '239',
 '1,049']

In [179]:
Offer=[]

for page in range(0,3):
    o_tag=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in o_tag:
        Offer.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    nxt_button.click()
    time.sleep(2)

In [180]:
len(Offer)

120

In [181]:
Offer

['71% off',
 '65% off',
 '58% off',
 '68% off',
 '72% off',
 '81% off',
 '68% off',
 '81% off',
 '62% off',
 '84% off',
 '81% off',
 '78% off',
 '73% off',
 '68% off',
 '78% off',
 '61% off',
 '81% off',
 '84% off',
 '58% off',
 '80% off',
 '35% off',
 '55% off',
 '72% off',
 '80% off',
 '84% off',
 '84% off',
 '53% off',
 '67% off',
 '73% off',
 '76% off',
 '71% off',
 '68% off',
 '70% off',
 '76% off',
 '70% off',
 '68% off',
 '64% off',
 '84% off',
 '84% off',
 '57% off',
 '78% off',
 '78% off',
 '76% off',
 '71% off',
 '84% off',
 '68% off',
 '52% off',
 '81% off',
 '71% off',
 '64% off',
 '72% off',
 '76% off',
 '76% off',
 '65% off',
 '84% off',
 '80% off',
 '85% off',
 '60% off',
 '76% off',
 '70% off',
 '76% off',
 '68% off',
 '67% off',
 '76% off',
 '68% off',
 '71% off',
 '73% off',
 '68% off',
 '69% off',
 '88% off',
 '77% off',
 '74% off',
 '80% off',
 '84% off',
 '65% off',
 '43% off',
 '88% off',
 '76% off',
 '80% off',
 '64% off',
 '71% off',
 '65% off',
 '58% off',
 '81% off',
 '72% off',
 '62% off',
 '84% off',
 '78% off',
 '81% off',
 '81% off',
 '68% off',
 '61% off',
 '73% off',
 '78% off',
 '84% off',
 '80% off',
 '58% off',
 '81% off',
 '35% off',
 '80% off',
 '55% off',
 '50% off',
 '72% off',
 '67% off',
 '84% off',
 '84% off',
 '73% off',
 '54% off',
 '76% off',
 '53% off',
 '71% off',
 '68% off',
 '70% off',
 '76% off',
 '70% off',
 '68% off',
 '64% off',
 '84% off',
 '84% off',
 '57% off']

In [370]:
O=[]

for i in Offer[0:100]:
    O.append(i)

In [371]:
len(O)

100

In [372]:
O

['71% off',
 '65% off',
 '58% off',
 '68% off',
 '72% off',
 '81% off',
 '68% off',
 '81% off',
 '62% off',
 '84% off',
 '81% off',
 '78% off',
 '73% off',
 '68% off',
 '78% off',
 '61% off',
 '81% off',
 '84% off',
 '58% off',
 '80% off',
 '35% off',
 '55% off',
 '72% off',
 '80% off',
 '84% off',
 '84% off',
 '53% off',
 '67% off',
 '73% off',
 '76% off',
 '71% off',
 '68% off',
 '70% off',
 '76% off',
 '70% off',
 '68% off',
 '64% off',
 '84% off',
 '84% off',
 '57% off',
 '78% off',
 '78% off',
 '76% off',
 '71% off',
 '84% off',
 '68% off',
 '52% off',
 '81% off',
 '71% off',
 '64% off',
 '72% off',
 '76% off',
 '76% off',
 '65% off',
 '84% off',
 '80% off',
 '85% off',
 '60% off',
 '76% off',
 '70% off',
 '76% off',
 '68% off',
 '67% off',
 '76% off',
 '68% off',
 '71% off',
 '73% off',
 '68% off',
 '69% off',
 '88% off',
 '77% off',
 '74% off',
 '80% off',
 '84% off',
 '65% off',
 '43% off',
 '88% off',
 '76% off',
 '80% off',
 '64% off',
 '71% off',
 '65% off',
 '58% off',
 '81% off',
 '72% off',
 '62% off',
 '84% off',
 '78% off',
 '81% off',
 '81% off',
 '68% off',
 '61% off',
 '73% off',
 '78% off',
 '84% off',
 '80% off',
 '58% off',
 '81% off',
 '35% off',
 '80% off']

In [373]:
df=pd.DataFrame({'Shoe_Name':Product_NAME,'Short_Description':D,'Price':R,'Offer':O})
df

,Shoe_Name,Short_Description,Price,Offer
0,WHITE WALKERS,Premium White Casual Shoes Sneakers For Men Sn...,319,71% off
1,RED TAPE,Modern Trendy Sneakers Shoes Sneakers For Men,319,65% off
2,K- FOOTLANCE,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,143,58% off
3,asian,Latest Collection-1215 Stylish Casual Sports S...,143,68% off
4,BRUTON,Sneakers For Men,239,72% off
...,...,...,...,...
95,asics,Sneakers For Men,379,80% off
96,aadi,Exclusive Affordable Collection of Trendy & St...,399,58% off
97,Airland,Casual Sneakers Canvas Shoes For Men Sneakers ...,239,81% off
98,RapidBox,Sneakers For Men,239,35% off
99,asics,Lightweight Comfortable Casual wear Lace-Up Sh...,"1,049",80% off

7) Scraping Shoe details in myntra webpage by applying some filters.

In [184]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [185]:
driver.get("https://www.myntra.com/shoes")

We need to scrap, brand name, short shoe description, Price of the shoe.

In [188]:
Shoe_name=[]

for page in range(0,2):
    S_tag=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in S_tag:
        Shoe_name.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    nxt_button.click()
    time.sleep(2)

In [189]:
len(Shoe_name)

100

In [190]:
Short_description=[]

for page in range(0,2):
    d_tag=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in d_tag:
        Shoe_description.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    nxt_button.click()
    time.sleep(2)

In [191]:
Amount=[]

for page in range(0,2):
    a_tag=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in a_tag:
        Amount.append(i.text)
    nxt_button=driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    nxt_button.click()
    time.sleep(2)

In [192]:
len(Amount)

100

In [194]:
df=pd.DataFrame({'Shoe_Name':Shoe_name,'Description':Shoe_description,'Price':Amount})
df

,Shoe_Name,Description,Price
0,Skechers,Men Go Walk Walking Shoes,Rs. 7499
1,Skechers,Men GO WALK - TERRA Shoes,Rs. 8499Rs. 9999(15% OFF)
2,ADIDAS Originals,Men ZX 22 BOOST Sneakers,Rs. 8399Rs. 11999(30% OFF)
3,Skechers,Men ENIGMA Running Shoes,Rs. 6649Rs. 9499(30% OFF)
4,Tommy Hilfiger,Men Solid Sneakers,Rs. 6639Rs. 8299(20% OFF)
...,...,...,...
95,Puma,Unisex KING Pro 21 Football,Rs. 6999Rs. 9999(30% OFF)
96,Puma,Women UltraRide Running Shoes,Rs. 7199Rs. 8999(20% OFF)
97,ADIDAS,Women Runfalcon 2.0 Running,Rs. 6599
98,Hush Puppies,Men Colourblocked Leather Derbys,Rs. 6999
99,ADIDAS Originals,Women Forum Low Sneakers,Rs. 9999

8) Scraping the details of Laptop from amazon webpage by applying filters.

In [217]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [218]:
driver.get("https://www.amazon.in/")

In [32]:
Product=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
Product.send_keys('Laptop')

In [33]:
Search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Search.click()

In [34]:
# we need to scrap

Titles=[]
Ratings=[]
Price=[]

In [35]:
# scraping Product Title from the website
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    Titles.append(title)
    
# scraping Ratings from the website
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base s-underline-text"]')
for i in rating_tags[0:10]:
    rat=i.text
    Ratings.append(rat)
    
# scraping Price of the laptop from the website
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    amount=i.text
    Price.append(amount)

In [36]:
print(len('Titles'),len('Ratings'),len('Price'))

6 7 5

In [37]:
df=pd.DataFrame({'Product_Title':Titles,'Product_rating':Ratings,'Product_price':Price})
df

,Product_Title,Product_rating,Product_price
0,"ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...",3,"74,990"
1,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,12,"80,000"
2,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,62,"77,990"
3,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",38,"86,990"
4,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,4,"80,990"
5,Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...,26,"82,490"
6,"ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...",1,"1,16,990"
7,Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...,89,"1,12,950"
8,"ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...",32,"1,98,990"
9,"DELL Alienware x14 Gaming Laptop, Intel i7-127...",6,"99,990"

10) We need to scrape salary data for Data Scientist designation.

Note: Got Error for scraping company name, even after getting link from SME also, it will not scrap any data for company name. So that i scrap remaining attributes and then make a dataframe with it. Because today is my deadline date to submit my assignment.

In [5]:
driver=webdriver.Chrome(r"C:\Users\Hello world\Downloads\chromedriver_win32\chromedriver.exe")

In [6]:
driver.get("https://www.ambitionbox.com/")

In [8]:
designation=driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
designation.send_keys('Data Scientist')

We need to scrap Company_name, No of salaries, Avg salary, Min salary, Max salary.

In [19]:
C_NAME1=[]

In [20]:
# scraping company name from the website
n_tag1=driver.find_elements(By.XPATH,'//div[@class="name"]/a')
for i in n_tag1[0:10]:
    name5=i.text
    C_NAME1.append(name5)

In [21]:
len(C_NAME1)

0

In [22]:
C_NAME1

[]

In [16]:
No_of_Sal=[]

z_tag1=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in z_tag1[0:10]:
    name=i.text
    No_of_Sal.append(name)

In [17]:
len(No_of_Sal)

10

In [18]:
No_of_Sal

['(based on 24 salaries)',
 '(based on 59 salaries)',
 '(based on 49 salaries)',
 '(based on 35 salaries)',
 '(based on 118 salaries)',
 '(based on 10 salaries)',
 '(based on 70 salaries)',
 '(based on 11 salaries)',
 '(based on 10 salaries)',
 '(based on 14 salaries)']

In [19]:
Avg_Sal=[]

w_tag1=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in w_tag1[0:10]:
    name=i.text
    Avg_Sal.append(name)

In [20]:
len(Avg_Sal)

10

In [21]:
Avg_Sal

[' 32.2L',
 ' 19.8L',
 ' 16.4L',
 ' 15.9L',
 ' 15.5L',
 ' 14.7L',
 ' 14.6L',
 ' 14.5L',
 ' 14.0L',
 ' 13.9L']

In [9]:
Min_Sal=[]

m_tag1=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')
for i in m_tag1[0:10]:
    name=i.text
    Min_Sal.append(name)

In [10]:
len(Min_Sal)

10

In [11]:
Min_Sal

[' 25.0L',
 ' 15.0L',
 ' 11.0L',
 ' 11.0L',
 ' 9.0L',
 ' 12.7L',
 ' 9.0L',
 ' 11.0L',
 ' 12.0L',
 ' 8.8L']

In [12]:
Max_Sal=[]

max_tag1=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')
for i in max_tag1[0:10]:
    name=i.text
    Max_Sal.append(name)

In [13]:
len(Max_Sal)

10

In [14]:
Max_Sal

[' 45.0L',
 ' 26.0L',
 ' 22.6L',
 ' 22.0L',
 ' 23.0L',
 ' 19.7L',
 ' 20.0L',
 ' 20.0L',
 ' 18.0L',
 ' 17.5L']

In [22]:
df=pd.DataFrame({'No_of_Salaries':No_of_Sal,'Average_Salary':Avg_Sal,'Minimum_Salary':Min_Sal,'Maximum_Salary':Max_Sal})
df

            No_of_Salaries Average_Salary Minimum_Salary Maximum_Salary
0   (based on 24 salaries)         32.2L         25.0L         45.0L
1   (based on 59 salaries)         19.8L         15.0L         26.0L
2   (based on 49 salaries)         16.4L         11.0L         22.6L
3   (based on 35 salaries)         15.9L         11.0L         22.0L
4  (based on 118 salaries)         15.5L          9.0L         23.0L
5   (based on 10 salaries)         14.7L         12.7L         19.7L
6   (based on 70 salaries)         14.6L          9.0L         20.0L
7   (based on 11 salaries)         14.5L         11.0L         20.0L
8   (based on 10 salaries)         14.0L         12.0L         18.0L
9   (based on 14 salaries)         13.9L          8.8L         17.5L